doctype html
html
  head
    title Login
    link(rel="stylesheet", href="/stylesheets/login.css")
    script(defer src="/javascript/login.js")
  body
    .main 
        .login
          h1 Bienvenido
          div.login-inputs-group 
            input(id="username" type="text" placeholder="Nombre de usuario" onclick="hideError()")
            span(class="login-error username-error ") Usuario incorrecto
          div.login-inputs-group
            input(id="password" type="password" placeholder="Contraseña" onclick="hideError()")
            span(class="login-error password-error ") Contraseña incorrecta
          button(onclick="login();") Ingresar
 
    